* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

body {
    background-image: url("/VISIONARY-VIBE-WEBSITE/images/bg1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.main {
    height: 100%;
    width: 100%;
}

.nabar {
    height: 10vh;
    width: 100%;
    display: flex;
    background-color: gray;
}

.nav-logo {
    display: flex;
}

.nav-logo>img {
    height: 40px;
    width: 40px;
    object-fit: cover;
    border-radius: 50%;
    border: 1.5px solid white;
    position: relative;
    left: 10vw;
    top: 3.2vh;
}


.nav-links {
    display: flex;
    justify-content: flex-end;
}

.nav-links>a {
    color: white;
    text-decoration: none;
    position: relative;
    right: 10vw;
    padding-right: 30px;
    font-size: 1.3rem;
    font-weight: 800;
}


.vvb-name {
    position: relative;
    top: 30vh;
    left: 20vw;
    line-height: 5vh;

}

.vvb-name>h2,#our-services,#auto-typed,#h2-span{
    color: white;
    font-size: 2rem;
    font-weight: 600;
}

#h2-span,#auto-typed {
    font-weight: 900;
}


.services {
    height: 60vh;
    width: 80%;
    background-color: rgba(255, 255, 255, 0.1);
    position: relative;
    top: 30vh;
    margin: 10%;
    padding: 10%;
    padding-top: 5%;
    border-radius: 3rem;
}

.services>h2 {
    text-align: center;
    color: white;
    padding-bottom: 70px;
    font-size: 2rem;
    font-weight: 800;
}

.services>ul {
    display: flex;
    justify-content: space-evenly;
    gap: 5vw;
    flex-wrap: wrap;
    cursor: pointer;
}


.services>ul>li {
    font-size: 1.4rem;
    width: auto;
    color: white;
    font-weight: 600;
}


.contact {
    height: 30vh;
    width: 80%;
    background-color: rgba(255, 255, 255, 0.1);
    margin: 10%;
    margin-top: 30%;
    border-radius:30px;
    
    
}